<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <!-- Navigation bar -->
    <div class="navbar" >
        <div class="logo">
            <img src="assets/img/Logo.png" alt="Logo" width="50" height="50" id="#h">
        </div>
      <ul class="content">
        <li><a href="#h">Home</a></li>
        <li><a href="#aboutus">Aboutus</a></li>
        <li><a href="#sports">Sports</a></li>
        <li><a href="#contactus">Contactus</a></li>
      </ul>
    </div>


</body>
</html>

