
:host {
  display: contents;
}
.contact-us-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contact-us-contact-us {
  width: 1920px;
  height: 620.5px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.contact-us-rectangle11 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 620px;
  opacity: 0.30;
  position: absolute;
}
.contact-us-group13 {
  top: 76px;
  left: 281px;
  width: 1376px;
  height: 544.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.contact-us-basemapimage {
  top: 107px;
  left: 971px;
  width: 405px;
  height: 349px;
  position: absolute;
}
.contact-us-text {
  left: 554px;
  color: rgba(255, 255, 255, 0.8999999761581421);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Medium;
  text-align: justified;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contact-us-text02 {
  top: 521.5px;
  left: 521px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contact-us-group12 {
  top: 146px;
  left: 0px;
  width: 612px;
  height: 280px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.contact-us-group9 {
  top: 134px;
  left: 0px;
  width: 612px;
  height: 76px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.contact-us-text04 {
  color: rgba(255, 255, 255, 0.8999999761581421);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: justified;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contact-us-text06 {
  top: 26px;
  color: rgba(255, 255, 255, 0.8999999761581421);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: justified;
  font-family: Poppins;
  font-weight: 400;
  line-height: 154.39999103546143%;
  font-stretch: normal;
  text-decoration: none;
}
.contact-us-social-media-icon {
  top: 244px;
  left: 0px;
  width: 272.3042907714844px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.contact-us-frameiconroundedinstagram {
  top: 0px;
  left: 75.99887084960938px;
  width: 35.99886703491211px;
  height: 35.99886703491211px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.contact-us-vector {
  top: 0px;
  left: 0px;
  width: 36px;
  height: 36px;
  position: absolute;
}
.contact-us-frameiconroundedyoutube {
  top: 0px;
  left: 151.99774169921875px;
  width: 35.99886703491211px;
  height: 35.99886703491211px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.contact-us-vector001 {
  top: 0px;
  left: 0px;
  width: 36px;
  height: 36px;
  position: absolute;
}
.contact-us-frameiconroundedfacebook {
  top: 0px;
  left: 0px;
  width: 35.99886703491211px;
  height: 35.99886703491211px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.contact-us-vector002 {
  top: 0px;
  left: 0px;
  width: 36px;
  height: 36px;
  position: absolute;
}
.contact-us-frameicontwitterbird {
  top: 0px;
  left: 227.99661254882812px;
  width: 44.30768966674805px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.contact-us-vector003 {
  top: 0px;
  left: 0px;
  width: 44px;
  height: 36px;
  position: absolute;
}
.contact-us-logo {
  top: 0px;
  left: 0px;
  width: 244px;
  height: 108px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.contact-us-group {
  top: 0px;
  left: 0px;
  width: 244px;
  height: 86.56473541259766px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.contact-us-vector004 {
  top: 150px;
  left: 0px;
  width: 250px;
  height: 100px;
  position: absolute;
}

/* for mobile viewport code starts here */

@media only screen and (max-width: 600px) {
:host {
  display: contents;
}
.contact-us-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  /* min-height: 100vh; */
  align-items: center;
  flex-direction: column;
}
.contact-us-contact-us {
  width: 412px;
  height: 750px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.contact-us-rectangle11 {
  top: 0px;
  left: 0px;
  width: 360px;
  height: 620px;
  opacity: 0.30;
  position: absolute;
}
.contact-us-group13 {
    top: 0px;
    width: 412px;
    height: 1000px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    left: 0px;
}
.contact-us-basemapimage {
  top: 390px;
  left: 40px;
  position: absolute;
}
.contact-us-text {
  left: 135px;
  top: 40px;
  color: rgba(255, 255, 255, 0.8999999761581421);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: justified;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contact-us-text02 {
  top: 568px;
  left: 47px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contact-us-group12 {
  top: 50px;
  left: 45px;
  width: 317px;
  height: 276px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.contact-us-text06 {
  top: 19px;
  color: rgba(255, 255, 255, 0.8999999761581421);
  width: 317px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 154.39999103546143%;
  font-stretch: normal;
  text-decoration: none;
}
.contact-us-social-media-icon {
  top: 273px;
  left: 70px;
  width: 173.97218322753906px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.contact-us-frameiconroundedinstagram {
  top: 0px;
  left: 48.55517578125px;
  width: 22.99927520751953px;
  height: 22.99927520751953px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.contact-us-vector {
  top: 0px;
  left: 0px;
  width: 23px;
  height: 23px;
  position: absolute;
}
.contact-us-frameiconroundedyoutube {
  top: 0px;
  left: 97.10955047607422px;
  width: 22.99927520751953px;
  height: 22.99927520751953px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.contact-us-vector001 {
  top: 0px;
  left: 0px;
  width: 23px;
  height: 23px;
  position: absolute;
}
.contact-us-frameiconroundedfacebook {
  top: 0px;
  left: 0px;
  width: 22.99927520751953px;
  height: 22.99927520751953px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.contact-us-vector002 {
  top: 0px;
  left: 0px;
  width: 23px;
  height: 23px;
  position: absolute;
}
.contact-us-frameicontwitterbird {
  top: 0px;
  left: 145.66448974609375px;
  width: 28.307689666748047px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.contact-us-vector003 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 23px;
  position: absolute;
}
.contact-us-logo {
  top: -2.2737367544323206e-13px;
  left: 91px;
  width: 132px;
  height: 58px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.contact-us-group {
  top: 0px;
  left: 0px;
  width: 132px;
  height: 46.488468170166016px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.contact-us-vector004 {
  top: 100px;
  left: 36px;
  width: 150px;
  height: 60px;
  position: absolute;
}
.contact-us-group-text19 {
  top: 800px;
  left: 87px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contact-us-group-text {
  top: 79px;
  color: rgba(255, 255, 255, 0.8999999761581421);
  width: 317px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 154.39999103546143%;
  font-stretch: normal;
  text-decoration: none;
}
}

