

.div {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  display: flex;
  min-height: 620px;
  align-items: center;
  padding: 0 20px;
  /* border: 2px solid rgb(41, 116, 202); */
  background-color: black;
}
.img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;

}
.div-2 {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1376px;
  flex-direction: column;
  margin: 57px 0 39px;
}
@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-3 {

@media (max-width: 991px) {
  .div-3 {
    max-width: 100%;
  }
}
}
.div-4 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-4 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 68%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.div-5 {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-5 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-6 {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  align-self: end;
  white-space: nowrap;
  font: 500 48px/72px Poppins, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-6 {
    font-size: 40px;
    line-height: 67px;
    white-space: initial;
  }
}
.img-2 {
  aspect-ratio: 2.26;
  object-fit: contain;
  object-position: center;
  width: 244px;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  align-self: start;
  margin-top: 93px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .img-2 {
    margin-top: 40px;
  }
}
.div-7 {
  color: rgba(255, 255, 255, 0.9);
  text-align: justify;
  align-self: stretch;
  margin-top: 32px;
  white-space: nowrap;
  font: 400 16px/24px Poppins, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-7 {
    max-width: 100%;
    white-space: initial;
  }
}
.div-8 {
  color: rgba(255, 255, 255, 0.9);
  text-align: justify;
  align-self: stretch;
  font: 400 16px/25px Poppins, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-8 {
    max-width: 100%;
  }
}

.icons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.img-3 {

  aspect-ratio: 7.56;
  object-fit: contain;
  object-position: center;
  width: 272px;
  overflow: hidden;
  align-self: start;
  margin-top: 37px;
  max-width: 100%;
}
.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 32%;
  margin-left: 20px;
  margin-top: 80px;

}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}
.img-4 {
  aspect-ratio: 1.16;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
  margin-top: 88px;
  flex-grow: 1;
  z-index: 0;
}
@media (max-width: 991px) {
  .img-4 {
    margin-top: 40px;
  }
}
.div-9 {
  color: #fff;
  align-self: center;
  margin-top: 71px;
  white-space: nowrap;
  font: 400 15px/22.5px Poppins, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-9 {
    margin-top: 40px;
    white-space: initial;
  }
}
