<!-- <div class="div" id="contactus">
  <div class="contact-us-group-contact-us-group">
  <img
    loading="lazy"
    src="assets/img/Rectangle 11.png"
    class="img"
  />
  <div class="div-2">
    <div class="div-3">
      <div class="div-4">
        <div class="column">
          <div class="div-5">
            <div class="div-6">Contact Us</div>
            <img
              loading="lazy"
              src="assets/img/Logo.png"
              class="img-2"
            />
            <div class="div-7">
              Address : Shivansh Sports Academy, S.G. Highway, Jaspur Road,
              Ahmedabad
            </div>
            <div class="div-8">
              Contact : +91 00 000 00 000 | 000 000 00
              <br />
              Email : info@shivanshsportsacademy.com
            </div>
            <div class="icons"><img
              loading="lazy"
              src="assets/img/twitter.png"
              class="img-3"
            />
            <img
              loading="lazy"
              src="assets/img/facebook.png"
              class="img-3"
            />
            <img
              loading="lazy"
              src="assets/img/instagram.png"
              class="img-3"
            />
            <img
              loading="lazy"
              src="assets/img/youtube.png"
              class="img-3"
            />
          </div>
          </div>
        </div>
        <div class="column-2">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3666.039129937
          2122!2d72.50055267477673!3d23.241663108117805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.
          1!3m3!1m2!1s0x395c25e22c797d4f%3A0x686be86ed2884f2f!2sCity%20Mall%202%2C%20Navjivan%
          20Mill%20Compound%2C%20Memon%20Market%2C%20Kalol%2C%20Gujarat%20382721!5e0!3m2!1sen!2s
          in!4v1702984285062!5m2!1sen!2sin" width="405" height="349" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
    <div class="div-9">@ Copyright Shivansh Sports Hub 2023-2024</div>
  </div>
 </div>
</div> -->





<div class="contact-us-container">
  <div class="contact-us-contact-us">

    <img src="assets/img/r11.png" alt="Rectangle112741" class="contact-us-rectangle11" />
    <div class="contact-us-group13">
      <div class="contact-us-basemapimage">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3666.039129937
        2122!2d72.50055267477673!3d23.241663108117805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.
        1!3m3!1m2!1s0x395c25e22c797d4f%3A0x686be86ed2884f2f!2sCity%20Mall%202%2C%20Navjivan%
        20Mill%20Compound%2C%20Memon%20Market%2C%20Kalol%2C%20Gujarat%20382721!5e0!3m2!1sen!2s
        in!4v1702984285062!5m2!1sen!2sin" width="330" height="319" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="contact-us-logo">
        <div class="contact-us-group">
          <img
            src="assets/img/Logo.png"
            alt="VectorI276"
            class="contact-us-vector004"
          />
          </div>
        </div>
      <span class="contact-us-text"><span>Contact Us</span></span>
      <span class="contact-us-text02 contact-us-group-text19">
        <span>@ Copyright Shivansh Sports Hub 2023-2024</span>
      </span>
      <div class="contact-us-group12">
        <div class="contact-us-group9">
          <span class="contact-us-text04 contact-us-group-text">
            <span>
              Address: Shivansh Sports Academy, S.G. Highway, Jaspur Road,Ahmedabad

            </span>
          </span>
          <span class="contact-us-text06">
            <span>
              <span>Contact : +91 00 000 00 000 | 000 000 00</span>
              <br />
              <span>Email : info@shivanshsportsacademy.com</span>
            </span>
          </span>
        </div>
        <div class="contact-us-social-media-icon">
          <div class="contact-us-frameiconroundedinstagram">
            <img
              src="assets/img/instagram.png"
              alt="Vector2762"
              class="contact-us-vector"
            />
          </div>
          <div class="contact-us-frameiconroundedyoutube">
            <img
              src="assets/img/youtube.png"
              alt="Vector2762"
              class="contact-us-vector001"
            />
          </div>
          <div class="contact-us-frameiconroundedfacebook">
            <img
              src="assets/img/facebook.png"
              alt="Vector2762"
              class="contact-us-vector002"
            />
          </div>
          <div class="contact-us-frameicontwitterbird">
            <img
              src="assets/img/twitter.png"
              alt="Vector2762"
              class="contact-us-vector003"
            />
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
