
<div class="join-us-karate-container">
  <div class="join-us-karate-join-us-karate">
    <div class="join-us-karate-group15">
      <span class="join-us-karate-text"><span>JOIN US TODAY!</span></span>
    </div>
    <img src="assets/img/lb.png" alt="Rectangle222762" class="join-us-karate-rectangle22" />
    <div class="join-us-karate-activity-interest-registration-form">

      <div class="join-us-karate-name">

        <label for="name">Name :</label>
        <input type="text"  id="name" name="name" required>
        <br><br>
      </div>
      <span class="join-us-karate-text04"><span>Choose Sports :</span></span>
      <div class="join-us-karate-phone">

        <label for="name">Phone :</label>
        <input type="text" id="name" name="name" required>
        <br><br>
      </div>
      <div class="join-us-karate-email">

        <label for="name">Email :</label>
        <input type="text" id="name" name="name" required>
        <br><br>
      </div>
      <div class="join-us-karate-group11">
        <span class="join-us-karate-text10"><span>Karate</span></span>
        <span class="join-us-karate-text12"><span>Skating</span></span>
        <span class="join-us-karate-text14"><span>Football</span></span>
        <span class="join-us-karate-text16"><span>Volley Ball</span></span>
        <span class="join-us-karate-text18"><span>Table Tennis</span></span>
        <span class="join-us-karate-text20"><span>Billiard Pool</span></span>
        <div class="join-us-karate-check-box"><input type="checkbox" id="checkbox" class="join-us-karate-check-box" name="checkbox"></div>
        <div class="join-us-karate-check-box1"><input type="checkbox" id="checkbox" class="join-us-karate-check-box" name="checkbox"></div>
        <div class="join-us-karate-check-box2"><input type="checkbox" id="checkbox" class="join-us-karate-check-box" name="checkbox"></div>
        <div class="join-us-karate-check-box3"><input type="checkbox" id="checkbox" class="join-us-karate-check-box" name="checkbox"></div>
        <div class="join-us-karate-check-box4"><input type="checkbox" id="checkbox" class="join-us-karate-check-box" name="checkbox"></div>
        <div class="join-us-karate-check-box5"><input type="checkbox" id="checkbox" class="join-us-karate-check-box" name="checkbox"></div>
      </div>
      <div class="join-us-karate-submit-button">
        <input class="join-us-karate-submit-button join-us-karate-text22" type="submit" value="Submit">
      </div>
    </div>
  </div>
</div>



