
.main-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  display: flex;
  min-height: 577px;
  align-items: center;
  padding: 0 20px;
}

.image-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.image-wrapper-2 {
  aspect-ratio: 2.59;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
  max-width: 1396px;
  margin: 15px 0 22px;
  z-index: 3;
}

@media (max-width: 991px) {
  .image-wrapper-2 {
    max-width: 100%;
  }
}

