
<div class="sketting activity">
  
  <img src="assets/img/f.png" class="firstimg">
 <div class="karate-activity-karate-activity">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
  <img alt="Rectangle172762" src="assets/img/Whatsapp.png" class="whatsapp" />
  <span class="karate-activity-text">
    <span class="karate-activity-text001">
      <span>Football Hub in Ahmedabad</span>
      <br />
      <span></span>
      <br />
      <span></span>
    </span>
    <span class="karate-activity-text007">
      <span>
        Join the Leading Football Hub in Ahmedabad at Shivansh Sports Hub
      </span>
      <br />
      <span></span>
      <br />
      <span>
        Welcome to Shivansh Sports Hub, your ultimate destination for aspiring
        football enthusiasts! If you’re searching for a top-notch football Hub
        in Ahmedabad, look no further. At Shivansh Sports Hub, we are passionate
        about nurturing young talent and fostering a love for the beautiful game.
         Our state-of-the-art facilities, experienced coaches, and holistic approach
         to training set us apart as a leading football Hub in the region.
      </span>
      <br />
      <span></span>
      <br />

      <span class="karate-activity-text039">
        <span>Comprehensive Training Programs:</span>
        <br />
        <span></span>
        </span>
      <span>
        At Shivansh Sports Hub, we offer comprehensive training programs designed to cater to players of all ages and skill levels. Whether you’re a beginner just starting your football journey or an experienced player looking to enhance your skills, our Hub provides a nurturing environment for growth. Our training programs focus on technical proficiency, tactical understanding, physical fitness, and mental conditioning, ensuring a well-rounded development for every player
      </span>
      <br />
      <span></span>
      <br />
      <span class="karate-activity-text039">
        <span>
          Expert Coaching Staff:</span>
        <br />
        <span></span>
        </span>
      <span>
        We take immense pride in our highly qualified and experienced coaching staff,
        who are dedicated to bringing out the best in every player. Our coaches have a
        deep understanding of the game and employ innovative training methodologies to
        optimize player development. They not only provide technical guidance but also
         serve as mentors, inspiring and motivating players to reach their full potential.
         With their guidance, you’ll gain valuable insights and learn advanced techniques
         to excel on the field.
      </span>
      <br />
      <span></span>
      <br />
      <span class="karate-activity-text039">
        <span>
          State-of-the-Art Facilities:</span>
        <br />
        <span></span>
        </span>
      <span>
        Shivansh Sports Hub boasts world-class facilities that create an optimal environment for
        football training. Our expansive football pitches are equipped with cutting-edge turf,
        providing an excellent playing surface for matches and practice sessions. Additionally,
        we have well-equipped gymnasiums, specialized training zones, and modern amenities to
        support players in their overall fitness and well-being
      </span>
      <br />
      <span></span>
      <br />

      <span></span>
    </span>
    <span class="karate-activity-text039">
      <span>Holistic Approach:</span>
      <br />
      <span></span>
      </span>
    <span class="karate-activity-text043">
      <span>
        We believe in nurturing the complete athlete, focusing not just on physical
        skills but also on character development and sportsmanship. Our football club
        in Ahmedabad emphasizes values such as teamwork, discipline, perseverance, and
        leadership. We aim to instill these qualities in our players, preparing them not
        only for success on the field but also for life beyond football.
      </span>
      <br />
      <span></span>
      <br />

      <span>
        Join Shivansh Sports Hub’s Football Hub in Ahmedabad today and embark on an
        exciting journey towards becoming a skilled and accomplished footballer. With
        our world-class facilities, experienced coaches, holistic approach, and partnership
        with Bhaichung Bhutia Football Hub, we are committed to providing the best football
        experience for aspiring players like you. Get ready to kick-start your football career
        and fulfil your passion for the beautiful game! Join Shivansh Sports Hub Football club
        in Ahmedabad to experience the best.
      </span>
      <br />
      <span></span>
      <br />
      <span class="karate-activity-text039">
        <span>Comprehensive Curriculum</span>
        <br />
        <span></span>
        </span>

        <span class="karate-activity-text057">
          <span>
            Structured training programs tailored to different age groups
          </span>
          <br />
          <span>
            Focus on technical skills, tactical understanding, physical fitness, and mental conditioning
          </span>
          <br />
          <span>
            Regular evaluations and feedback to track progress
          </span>
          <br />
          <span>
            Integration of match simulations and game strategies into training sessions
          </span>
          <br />
          <span>
            Opportunities for participation in local and national-level tournaments
          </span>
          <br />
      </span>

      <br />
      <span></span>
    </span>
    <span class="karate-activity-text053">
      <span>Experienced Coaching Staff</span>
      <br />
      <span></span>
    </span>
    <span class="karate-activity-text057">
      <span>
        UEFA-certified coaches with extensive playing and coaching backgrounds
      </span>
      <br />
      <span>Individualized attention and personalized coaching</span>
      <br />
      <span>Emphasis on skill development, decision-making, and game intelligence</span>
      <br />
      <span>Regular workshops and seminars by guest coaches and football experts</span>
      <br />
      <span>Mentorship and guidance to help players navigate their football careers</span>
      <br />
      <span></span>
      <br />
      <span></span>
    </span>
    <span class="karate-activity-text067">
      <span>State-of-the-Art Facilities</span>
      <br />
      <span></span>
    </span>
    <span class="karate-activity-text071">
      <span>Professional-grade football pitches with advanced turf technology</span>
      <br />
      <span>
        Well-equipped gymnasiums and fitness centres for strength and conditioning training
      </span>
      <br />
      <span>Specialized training zones for agility, speed, and endurance development</span>
      <br />
      <span>Video analysis and performance tracking tools for in-depth feedback</span>
      <br />
      <span>Comfortable locker rooms, medical facilities, and sports amenities for a complete experience</span>
      <br />
      <span></span>
      <br />
      <span></span>
    </span>
    <span class="karate-activity-text081">
      <span>Character Development and Sportsmanship</span>
      <br />
      <span></span>
    </span>
    <span class="karate-activity-text085">
      <span>
        Emphasis on values like teamwork, respect, and fair play
      </span>
      <br />
      <span>Leadership development through captaincy roles and team-building activities</span>
      <br />
      <span> Community outreach programs to promote social responsibility</span>
      <br />
      <span> Regular motivational talks and sessions on sports psychology</span>
      <br />
      <span>Awards and recognition for exemplary sportsmanship and conduct</span>
      <br />
      <span></span>
      <br />
      <span></span>
    </span>
    <span class="karate-activity-text095">
      <span>Pathways and Exposure</span>
      <br />
      <span></span>
    </span>
    <span  class="text">
      <span>Talent identification programs and scouting opportunities</span>
      <br />
      <span>Collaborations with reputed football clubs and academies for talent exchange</span>
      <br />
      <span>Exposure to professional football environments and training camps</span>
      <br />
      <span>College placement assistance for players seeking academic and athletic opportunities</span>
      <br />
      <span>Pathways to represent Shivansh Sports Hub in competitive leagues and tournaments</span>
      <br />
    </span>
    <br />


  </span>
  <span class="karate-activity-text105"><span>Football</span></span>
  <div class="karate-activity-time-table">
    <img alt="Rectangle192762" src="assets/img/black.png" class="karate-activity-rectangle19" />
    <span class="karate-activity-text107"><span>TIMING</span></span>
    <span class="karate-activity-text109">
      <span>
        <span>Age Group : 4-18 Years</span>
        <br />
        <span></span>
        <br />
        <span>Days : Tuesday, Thursday,
          Saturday
          </span>
        <br />
        <span></span>
        <br />
        <span>
          Evening :
          <span [innerHTML]="rawdqxj"></span>
        </span>
        <br />
        <span>5.00 PM to 6.00 PM <span class="small">(Under 6)</span></span>
        <br />
        <span>5.00 PM to 6.00 PM <span class="small">(Under 8)</span></span>
        <br />
        <span>6.30 PM to 7.30 PM <span class="small">(Under 10)</span></span>
        <br />
        <span>6.30 PM to 7.30 PM <span class="small">(Under 14)</span></span>
        <br />
        <span></span>
        <br />
        <span>Days : Monday, Wednesday,
          Friday
          </span>
        <br />
        <span></span>
        <br />
        <span>Evening :</span>
        <br />
        <span>7.30 PM to 8.30 PM <span class="small">(Under 18)</span></span>
        <br />
      </span>
    </span>
  </div>
</div>

