<!-- karate activity text and timetable starts from here -->

<div class="karateactivity">

  <img src="assets/img/Rectangle17.png" class="firstimg">
<div class="karate-activity-karate-activity">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
  <img alt="Rectangle172762" src="assets/img/Whatsapp.png" class="whatsapp" />
  <span class="karate-activity-text">
    <span class="karate-activity-text001">
      <span>Best Karate Classes in Ahmedabad</span>
      <br />
      <span></span>
      <br />
      <span></span>
    </span>
    <span class="karate-activity-text007">
      <span>
        Discover the World of Karate at Shivansh Sports Hub, Ahmedabad
      </span>
      <br />
      <span></span>
      <br />
      <span>
        Karate, Japan’s ancient martial art form, has gained immense
        popularity worldwide for its physical and mental benefits. Suppose
        you’re a young aspirant looking to learn karate under the guidance of
        seasoned professionals. In that case, Shivansh Sports Hub in Ahmedabad
        is the perfect place for you, offering you the best karate classes in
        Ahmedabad. With exceptional training facilities, experienced
        instructors, and a holistic approach to martial arts education,
        Shivansh Sports Hub offers an unparalleled learning experience for
        karate enthusiasts.
      </span>
      <br />
      <span></span>
      <br />
      <span>
        At Shivansh Sports Hub, we pride ourselves as we have a unit of
        admiringly skilled and certified karate instructors. Our instructors
        possess extensive knowledge and experience in various karate styles,
        ensuring that students receive top-notch training tailored to their
        needs. They are dedicated to nurturing young talents and helping them
        reach their full potential in karate.
      </span>
      <br />
      <span></span>
      <br />
      <span>
        Our Hub boasts state-of-the-art training facilities equipped with the
        latest equipment and amenities. From spacious training halls to
        specialized training equipment, we ensure students have access to
        everything they need for a comprehensive and enriching karate
        experience.
      </span>
      <br />
      <span></span>
      <br />
      <span>
        Karate promotes physical fitness and self-defence, but mental
        discipline, focus, and character development. At Shivansh Sports Hub,
        we emphasize the holistic development of our students. Through
        rigorous training sessions, students learn important life skills such
        as self-discipline, respect, perseverance, and self-confidence. These
        qualities go beyond the training mat and become integral to their
        daily lives.
      </span>
      <br />
      <span>
        Our karate classes follow a structured curriculum that caters to
        students of all levels, from beginners to advanced practitioners. The
        curriculum encompasses various aspects of karate, including basic
        techniques, forms (katas), sparring, self-defence techniques, and
        traditional philosophies. Our progressive teaching methodology ensures
        that students gradually build their skills and progress at their own
        pace.
      </span>
      <br />
      <span></span>
      <br />
      <span>
        Shivansh Sports Hub provides ample opportunities to participate in
        competitive events and tournaments at the regional, national, and
        international levels for those aspiring to take their karate journey
        to the next level. Our Hub has a proven track record of producing
        outstanding athletes who have excelled in various karate competitions,
        bringing laurels to themselves and the Hub.
      </span>
      <br />
      <span></span>
      <br />
      <span>
        Join Shivansh Sports Hub in Ahmedabad and embark on an incredible
        journey of self-discovery, physical fitness, and personal growth
        through karate. Our experienced instructors, state-of-the-art
        facilities, and comprehensive training programs ensure you receive the
        best karate education and a platform to excel in this ancient martial
        art form.
      </span>
      <br />
      <span></span>
      <br />
      <span></span>
    </span>
    <span class="karate-activity-text039">
      <span>Comprehensive Training Programs:</span>
      <br />
      <span></span>
    </span>
    <span class="karate-activity-text043">
      <span>
        Our training programs cater to all skill levels, from beginners to
        advanced.
      </span>
      <br />
      <span>
        Structured curriculum covering basic techniques, forms, sparring, and
        self-defence.
      </span>
      <br />
      <span>Emphasis on holistic development and character building.</span>
      <br />
      <span></span>
      <br />
      <span></span>
    </span>
    <span class="karate-activity-text053">
      <span>Experienced and Certified Instructors:</span>
      <br />
      <span></span>
    </span>
    <span class="karate-activity-text057">
      <span>
        Highly skilled instructors with extensive experience in karate.
      </span>
      <br />
      <span>Personalized attention and guidance for each student.</span>
      <br />
      <span>Expertise in various karate styles and techniques.</span>
      <br />
      <span></span>
      <br />
      <span></span>
    </span>
    <span class="karate-activity-text067">
      <span>State-of-the-Art Facilities:</span>
      <br />
      <span></span>
    </span>
    <span class="karate-activity-text071">
      <span>Spacious and well-equipped training halls.</span>
      <br />
      <span>
        Modern training equipment for an enhanced learning experience.
      </span>
      <br />
      <span>Safe and comfortable environment for students.</span>
      <br />
      <span></span>
      <br />
      <span></span>
    </span>
    <span class="karate-activity-text081">
      <span>Focus on Mental Discipline and Character Development:</span>
      <br />
      <span></span>
    </span>
    <span class="karate-activity-text085">
      <span>
        Karate is a tool for cultivating self-discipline, focus, and respect.
      </span>
      <br />
      <span>Promotion of important life skills beyond physical fitness.</span>
      <br />
      <span>Building self-confidence and perseverance.</span>
      <br />
      <span></span>
      <br />
      <span></span>
    </span>
    <span class="karate-activity-text095">
      <span>Pathway to Competitive Success:</span>
      <br />
      <span></span>
    </span>
    <span>
      <span>
        Get opportunities to participate in regional, national, and
        international tournaments.
      </span>
      <br />
      <span>
        Proven track record of producing successful competitive athletes.
      </span>
      <br />
      <span>Training programs designed to develop competitive skills.</span>
    </span>
  </span>
  <span class="karate-activity-text105"><span>Karate</span></span>
  <div class="karate-activity-time-table">
    <img alt="Rectangle192762" src="assets/img/black.png" class="karate-activity-rectangle19" />
    <span class="karate-activity-text107"><span>TIMING</span></span>
    <span class="karate-activity-text109">
      <span>
        <span>Age Group : 3+ Years</span>
        <br />
        <span></span>
        <br />
        <span>Days : Monday to Friday</span>
        <br />
        <span></span>
        <br />
        <span>
          Morning :
          <span [innerHTML]="rawdqxj"></span>
        </span>
        <br />
        <span>6.00 AM to 7.00 AM</span>
        <br />
        <span>7.00 AM to 8.00 AM</span>
        <br />
        <span>8.00 AM to 9.00 AM</span>
        <br />
        <span></span>
        <br />
        <span>Evening :</span>
        <br />
        <span>5.00 PM to 6.00 PM</span>
        <br />
        <span>6.15 PM to 7.15 PM</span>
        <br />
        <span>7.30 PM to 8.30 PM</span>
      </span>
    </span>
  </div>

<!-- join us form of karate starts from here -->


 <div class="join-us-karate-container">
  <div class="join-us-karate-join-us-karate">
    <div class="join-us-karate-group15">
      <span class="join-us-karate-text"><span>JOIN US TODAY!</span></span>
    </div>
    <img src="assets/img/Rectangle22.png" alt="Rectangle222762" class="join-us-karate-rectangle22" />
    <div class="join-us-karate-activity-interest-registration-form">

      <div class="join-us-karate-name">

        <label for="name">Name :</label>
        <input type="text"  id="name" name="name" required>
        <br><br>
      </div>
      <span class="join-us-karate-text04"><span>Choose Sports :</span></span>
      <div class="join-us-karate-phone">

        <label for="name">Phone :</label>
        <input type="text" id="name" name="name" required>
        <br><br>
      </div>
      <div class="join-us-karate-email">

        <label for="name">Email :</label>
        <input type="text" id="name" name="name" required>
        <br><br>
      </div>
      <div class="join-us-karate-group11">
        <span class="join-us-karate-text10"><span>Karate</span></span>
        <span class="join-us-karate-text12"><span>Skating</span></span>
        <span class="join-us-karate-text14"><span>Football</span></span>
        <span class="join-us-karate-text16"><span>Volley Ball</span></span>
        <span class="join-us-karate-text18"><span>Table Tennis</span></span>
        <span class="join-us-karate-text20"><span>Billiard Pool</span></span>
        <div class="join-us-karate-check-box"><input type="checkbox" id="checkbox" class="join-us-karate-check-box" name="checkbox"></div>
        <div class="join-us-karate-check-box1"><input type="checkbox" id="checkbox" class="join-us-karate-check-box" name="checkbox"></div>
        <div class="join-us-karate-check-box2"><input type="checkbox" id="checkbox" class="join-us-karate-check-box" name="checkbox"></div>
        <div class="join-us-karate-check-box3"><input type="checkbox" id="checkbox" class="join-us-karate-check-box" name="checkbox"></div>
        <div class="join-us-karate-check-box4"><input type="checkbox" id="checkbox" class="join-us-karate-check-box" name="checkbox"></div>
        <div class="join-us-karate-check-box5"><input type="checkbox" id="checkbox" class="join-us-karate-check-box" name="checkbox"></div>
      </div>
      <div class="join-us-karate-submit-button">
        <input class="join-us-karate-submit-button join-us-karate-text22" type="submit" value="Submit">
      </div>
    </div>
  </div>
</div>
</div>




