:host {
  display: contents;
}
.join-us-karate-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  /* min-height: 100vh; */
  align-items: center;
  flex-direction: column;
  /* margin-top: 1580px; */
}
.join-us-karate-join-us-karate {
  width: 1920px;
  height: 715px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
 margin: 0px 1472px 0px 1472px;

}
.join-us-karate-group15 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 86px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-image: linear-gradient(180deg, rgba(193, 0, 0, 1) 0%, rgba(69, 0, 0, 1) 100%);
}

.join-us-karate-text {
  top: 7px;
  left: 767px;
  color: var(--dl-color-default-purewhitecolor);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.join-us-karate-rectangle22 {
  top: 86px;
  left: 0px;
  width: 1920px;
  height: 629px;
  position: absolute;
}
.join-us-karate-activity-interest-registration-form {
  top: 140px;
  left: 758px;
  width: 404px;
  height: 520px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: #ffffff; /* Set background color for the form */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.join-us-karate-rectangle21 {
  top: 0px;
  left: 0px;
  width: 404px;
  height: 520px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.join-us-karate-name {
  top: 40px;
  left: 54px;
  width: 298px;
  height: 25.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.join-us-karate-vector1 {
  top: 25.5px;
  left: 0px;
  width: 298px;
  height: 1px;
  position: absolute;
}
.join-us-karate-text02 {
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.join-us-karate-text04 {
  top: 273px;
  left: 54px;
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.join-us-karate-phone {
  top: 113px;
  left: 54px;
  width: 298px;
  height: 25.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.join-us-karate-vector2 {
  top: 25.5px;
  left: 0px;
  width: 298px;
  height: 1px;
  position: absolute;
}
.join-us-karate-text06 {
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.join-us-karate-email {
  top: 186px;
  left: 54px;
  width: 298px;
  height: 25.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.join-us-karate-vector3 {
  top: 25.5px;
  left: 0px;
  width: 298px;
  height: 1px;
  position: absolute;
}
.join-us-karate-text08 {
  left: 1px;
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.join-us-karate-group11 {
  top: 314px;
  left: 54px;
  width: 304px;
  height: 85px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.join-us-karate-text10 {
  left: 29px;
  color: rgba(0, 0, 0, 0.8999999761581421);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.join-us-karate-text12 {
  left: 215px;
  color: rgba(0, 0, 0, 0.8999999761581421);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.join-us-karate-text14 {
  top: 31px;
  left: 29px;
  color: rgba(0, 0, 0, 0.8999999761581421);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.join-us-karate-text16 {
  top: 31px;
  left: 215px;
  color: rgba(0, 0, 0, 0.8999999761581421);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.join-us-karate-text18 {
  top: 62px;
  left: 29px;
  color: rgba(0, 0, 0, 0.8999999761581421);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.join-us-karate-text20 {
  top: 62px;
  left: 215px;
  color: rgba(0, 0, 0, 0.8999999761581421);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.join-us-karate-check-box {
  top: px;
  left: 0px;
  width: 16px;
  height: 16px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 0.30000001192092896px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 1);
}
.join-us-karate-check-box1 {
  top: 3px;
  left: 185px;
  width: 16px;
  height: 16px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 0.30000001192092896px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 1);
}
.join-us-karate-check-box2 {
  top: 34px;
  left: 0px;
  width: 16px;
  height: 16px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 0.30000001192092896px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 1);
}
.join-us-karate-check-box3 {
  top: 34px;
  left: 185px;
  width: 16px;
  height: 16px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 0.30000001192092896px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 1);
}
.join-us-karate-check-box4 {
  top: 64px;
  left: 0px;
  width: 16px;
  height: 16px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 0.30000001192092896px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 1);
}
.join-us-karate-check-box5 {
  top: 65px;
  left: 185px;
  width: 16px;
  height: 16px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 0.30000001192092896px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 1);
}
.join-us-karate-submit-button {
  top: 466px;
  left: 107px;
  width: 191px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(93, 193, 45, 1);
}
.join-us-karate-text22 {
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  padding-left: 60px;
}


  input[type="text"] {
    border: none;
    outline: none;
    background: none;
}
