/* You can add global styles to this file, and also import other style files */
/* {
  background-color: black;

} */
.navbar{
  position:fixed;
}

*{
  /* overflow: hidden; */
  height: auto;
  width: auto;
}
