

 :host {
  display: contents;
}
.sports-activity-group-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  /* min-height: 100vh; */
  align-items: center;
  flex-direction: column;
  object-fit: cover;
  background-color: black;
}
.sports-activity-group-sports-activity-group {
  width: 1920px;
  height: 1061px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.sports-activity-group-rectangle8 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1061px;
  opacity: 0.50;
  position: absolute;
}
.sports-activity-group-text {
  top: 150px;
  left: 670px;
  color: rgba(255, 255, 255, 0.8999999761581421);
  width: 642px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Medium;
  text-align: justified;
  font-family: 'Poppins', sans-serif;;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sports-activity-group-sports-activity-cards {
  top: 296px;
  left: 403px;
  width: 1114px;
  height: 592px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.sports-activity-group-karate {
  top: 0px;
  left: 0px;
  width: 264px;
  height: 246px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 25px;
}
.sports-activity-group-rectangle12 {
  top: 0px;
  left: 0px;
  width: 264px;
  height: 246px;
  position: absolute;
  border-radius: 25px;
}
.sports-activity-group-rectangle16 {
  top: 89px;
  left: -20px;
  width: 292px;
  height: 159px;
  position: absolute;
}
.sports-activity-group-text02 {
  top: 162px;
  left: 55px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: justified;
  font-family: Scada;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sports-activity-group-text04 {
  top: 248px;
  left: 94px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: justified;
  font-family: Scada;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sports-activity-group-skating {
  top: 0px;
  left: 425px;
  width: 264px;
  height: 246px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 25px;
}
.sports-activity-group-rectangle13 {
  top: 0px;
  left: 0px;
  width: 264px;
  height: 246px;
  position: block;
  border-radius: 25px;
}
.sports-activity-group-rectangle161 {
  top: 89px;
  left: -20px;
  width: 292px;
  height: 159px;
  position: absolute;
}
.sports-activity-group-text06 {
  top: 152px;
  left: 33px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: justified;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sports-activity-group-text08 {
  top: 247px;
  left: 94px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: justified;
  font-family: Scada;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  display: none;
}
.sports-activity-group-football:hover .sports-activity-group-text{
  display: block;
}
.sports-activity-group-text{
  display: none;
  position: absolute;
}
.sports-activity-group-football {
  top: 0px;
  left: 850px;
  width: 264px;
  height: 246px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 25px;
  display: block;
}
.sports-activity-group-rectangle14 {
  top: 0px;
  left: 0px;
  width: 264px;
  height: 246px;
  position: absolute;
  border-radius: 25px;
}
.sports-activity-group-rectangle162 {
  top: 89px;
  left: -20px;
  width: 292px;
  height: 159px;
  position: absolute;
}
.sports-activity-group-text10 {
  top: 152px;
  left: 18px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: justified;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sports-activity-group-text12 {
  top: 248px;
  left: 94px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: justified;
  font-family: Scada;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sports-activity-group-volley-ball {
  top: 344px;
  left: 0px;
  width: 264px;
  height: 246px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 25px;
}
.sports-activity-group-rectangle15 {
  top: 0px;
  left: 0px;
  width: 264px;
  height: 246px;
  position: absolute;
  border-radius: 25px;
}
.sports-activity-group-rectangle163 {
  top: 89px;
  left: -20px;
  width: 292px;
  height: 159px;
  position: absolute;
}
.sports-activity-group-text14 {
  top: 102px;
  left: 50px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 101.49999856948853%;
  font-stretch: normal;
  text-decoration: none;
}
.sports-activity-group-text16 {
  top: 244px;
  left: 94px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: justified;
  font-family: Scada;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sports-activity-group-table-tennis {
  top: 345px;
  left: 425px;
  width: 264px;
  height: 246px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 25px;
}
.sports-activity-group-rectangle151 {
  top: 0px;
  left: 0px;
  width: 264px;
  height: 246px;
  position: absolute;
  border-radius: 25px;
}
.sports-activity-group-rectangle164 {
  top: 89px;
  left: -20px;
  width: 292px;
  height: 159px;
  position: absolute;
}
.sports-activity-group-text18 {
  top: 102px;
  left: 53px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 101.49999856948853%;
  font-stretch: normal;
  text-decoration: none;
}
.sports-activity-group-text23 {
  top: 244px;
  left: 94px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: justified;
  font-family: Scada;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sports-activity-group-billiard-pool {
  top: 346px;
  left: 850px;
  width: 264px;
  height: 246px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 25px;
}
.sports-activity-group-rectangle152 {
  top: 0px;
  left: 0px;
  width: 264px;
  height: 246px;
  position: absolute;
  border-radius: 25px;
}
.sports-activity-group-rectangle165 {
  top: 89px;
  left: -20px;
  width: 292px;
  height: 159px;
  position: absolute;
}
.sports-activity-group-text25 {
  top: 102px;
  left: 37px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 101.49999856948853%;
  font-stretch: normal;
  text-decoration: none;
}
.sports-activity-group-text30 {
  top: 244px;
  left: 94px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: justified;
  font-family: Scada;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
