 <!-- <div class="rectangle8"><img src="/assets/img/Rectangle 8.png"></div>
<div class="sportsActivityAtShivansh">Sports Activity at Shivansh</div> -->


<div class="sports-activity-group-container" id="sports">
  <div class="sports-activity-group-sports-activity-group">
    <img src="assets/img/Rectangle 8.png" alt="Rectangle81304" class="sports-activity-group-rectangle8" />
    <!-- <span class="sports-activity-group-text">
      Sports Activity at Shivansh</span> -->


    <span class="activitytext">Sports Activity at Shivansh
       <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    </span>

    <div class="sports-activity-group-sports-activity-cards">
      <a routerLink="/karate"><div class="sports-activity-group-karate">
        <img
          src="assets/img/kk.png"
          alt="Rectangle12I276"
          class="sports-activity-group-rectangle12"
        />
        <img
          src="assets/img/xt.png"
          alt="Rectangle16I276"
          class="sports-activity-group-rectangle16"
        />
        <span class="sports-activity-group-text02"><span>KARATE</span></span>
        <span class="sports-activity-group-text04"><span>Read More</span></span>
      </div></a>

      <a routerLink="/skating"><div class="sports-activity-group-skating">

        <img
          src="assets/img/ss.png"
          alt="Rectangle13I276"
          class="sports-activity-group-rectangle13"
        />
        <img
          src="assets/img/xt.png"
          alt="Rectangle16I276"
          class="sports-activity-group-rectangle161"
        />
        <span class="sports-activity-group-text06"><span>SKATING</span></span>
        <span class="sports-activity-group-text08"><span>Read More</span></span>
      </div></a>
      <a routerLink="/football"><div class="sports-activity-group-football">
        <img
          src="assets/img/ff.png"
          alt="Rectangle14I276"
          class="sports-activity-group-rectangle14"
        />
        <img
          src="assets/img/xt.png"
          alt="Rectangle16I276"
          class="sports-activity-group-rectangle162"
        />
        <span class="sports-activity-group-text10"><span>FOOTBALL</span></span>
        <span class="sports-activity-group-text"><div>Read More</div></span>
      </div></a>
      <a routerLink="/volleyball"><div class="sports-activity-group-volley-ball">
        <img
          src="assets/img/vv.png"
          alt="Rectangle15I276"
          class="sports-activity-group-rectangle15"
        />
        <img
          src="assets/img/xt.png"
          alt="Rectangle16I276"
          class="sports-activity-group-rectangle163"
        />
        <span class="sports-activity-group-text18">
          <span>
            <span>
              VOLLEY
              <span [innerHTML]="rawyqtc"></span>
            </span>
            <br />
            <span>BALL</span>
          </span>
        </span>
        <span class="sports-activity-group-text16"><span>Read More</span></span>
      </div></a>
      <a routerLink="/tabletennis"><div class="sports-activity-group-table-tennis">
        <img
          src="assets/img/tt.png"
          alt="Rectangle15I276"
          class="sports-activity-group-rectangle151"
        />
        <img
          src="assets/img/xt.png"
          alt="Rectangle16I276"
          class="sports-activity-group-rectangle164"
        />
        <span class="sports-activity-group-text18">
          <span>
            <span>
              TABLE
              <span [innerHTML]="rawyqtc"></span>
            </span>
            <br />
            <span>TENNIS</span>
          </span>
        </span>
        <span class="sports-activity-group-text23"><span>Read More</span></span>
      </div></a>
      <a routerLink="/billiardpool"><div class="sports-activity-group-billiard-pool">
        <img
          src="assets/img/bb.png"
          alt="Rectangle15I276"
          class="sports-activity-group-rectangle152"
        />
        <img
          src="assets/img/xt.png"
          alt="Rectangle16I276"
          class="sports-activity-group-rectangle165"
        />
        <span class="sports-activity-group-text25">
          <span>
            <span>BILLIARD</span>
            <br />
            <span>POOL</span>
          </span>
        </span>
        <span class="sports-activity-group-text30"><span>Read More</span></span>
      </div></a>
    </div>
  </div>
</div>
