<!-- why us component -->

<div class="div" id="aboutus">
  <img src="assets/img/Rectangle 7.png" class="back" />

  <div class="welcomeToShivanshSportsHubYour">
    <div class="whyus">Why Us</div>
    <div class="textBlock">
      Welcome to Shivansh Sports Hub, your premier destination for sports
      excellence in Ahmedabad since 2022. At Shivansh Sports Hub, we are driven
      by a singular vision - to nurture talent, promote physical fitness, and
      inspire a love for sports within our community. Since our inception in
      2022, we have been dedicated to providing top-tier coaching and facilities
      to athletes of all ages and skill levels.
    </div>
    <div class="textBlock2">
      <p><br /></p>
    </div>
    <div class="textBlock3">
      Our commitment to excellence is unwavering. We believe that sports not
      only build physical strength but also instill discipline, teamwork, and
      perseverance - qualities that extend beyond the playing field and into
      everyday life. We are committed to creating an environment where athletes
      can thrive and develop both personally and athletically. Our team of
      experienced coaches is at the heart of our academy. They bring a wealth of
      knowledge and expertise to every training session, ensuring that our
      athletes receive the best guidance and support to reach their full
      potential. Whether you&amp;#39;re a beginner looking to learn the basics
      or a seasoned athlete aiming for the next level, our coaches are here to
      guide you on your journey.
    </div>
    <div class="textBlock4">
      <p class="labelWrapper"><br /></p>
    </div>
    <div class="textBlock5">
      <p class="labelWrapper2">
        <span class="label">
          We understand the importance of world-class facilities in nurturing
          talent. That&amp;#39;s why we have invested in state-of-the-art
          infrastructure, including well-maintained playing fields, modern
          gymnasiums, and cutting-edge equipment. Our facilities provide the
          ideal setting for athletes to train, compete, and excel. At Shivansh
          Sports Hub, we&amp;#39;re more than just a sports center -
          we&amp;#39;re a community. We welcome individuals of all ages,
          backgrounds, and abilities to be a part of our family. Inclusivity is
          a core value for us, and we strive to create an environment where
          everyone feels supported and valued.
        </span>
      </p>
    </div>
    <div class="textBlock6">
      <p class="labelWrapper3"><br /></p>
    </div>
    <div class="textBlock7">
      <p class="labelWrapper4">
        <span class="label2">
          Whether you&amp;#39;re a budding athlete with dreams of glory or
          someone simply looking to stay active and healthy, Shivansh Sports Hub
          is the place for you. Come and be a part of our journey as we continue
          to inspire, train, and shape the future of sports in Shivansh Sports
          Hub.
        </span>
      </p>
    </div>
  </div>

  <div class="images">
    <div class="pngwing1">
      <img loading="lazy" src="assets/img/pngwing 1.png" class="img-2" />
    </div>

    <div class="pngwing1">
      <img loading="lazy" src="assets/img/pngwing 2.png" class="img-2" />
    </div>
  </div>
</div>

<!-- <div class="rectangle7"></div>
<div class="welcomeToShivanshSportsHubYour">
  <div class="textBlock">
    Welcome to Shivansh Sports Hub, your premier destination for sports excellence in Ahmedabad since 2022. At Shivansh
    Sports Hub, we are driven by a singular vision - to nurture talent, promote physical fitness, and inspire a love for
    sports within our community. Since our inception in 2022, we have been dedicated to providing top-tier coaching and
    facilities to athletes of all ages and skill levels.
  </div>
  <div class="textBlock2"><p></p></div>
  <div class="textBlock3">
    Our commitment to excellence is unwavering. We believe that sports not only build physical strength but also instill
    discipline, teamwork, and perseverance - qualities that extend beyond the playing field and into everyday life. We
    are committed to creating an environment where athletes can thrive and develop both personally and athletically. Our
    team of experienced coaches is at the heart of our academy. They bring a wealth of knowledge and expertise to every
    training session, ensuring that our athletes receive the best guidance and support to reach their full potential.
    Whether you&amp;#39;re a beginner looking to learn the basics or a seasoned athlete aiming for the next level, our
    coaches are here to guide you on your journey.
  </div>
  <div class="textBlock4"><p class="labelWrapper"></p></div>
  <div class="textBlock5">
    <p class="labelWrapper2">
      <span class="label">
        We understand the importance of world-class facilities in nurturing talent. That&amp;#39;s why we have invested
        in state-of-the-art infrastructure, including well-maintained playing fields, modern gymnasiums, and
        cutting-edge equipment. Our facilities provide the ideal setting for athletes to train, compete, and excel. At
        Shivansh Sports Hub, we&amp;#39;re more than just a sports center - we&amp;#39;re a community. We welcome
        individuals of all ages, backgrounds, and abilities to be a part of our family. Inclusivity is a core value for
        us, and we strive to create an environment where everyone feels supported and valued.
      </span>
    </p>
  </div>
  <div class="textBlock6"><p class="labelWrapper3"></p></div>
  <div class="textBlock7">
    <p class="labelWrapper4">
      <span class="label2">
        Whether you&amp;#39;re a budding athlete with dreams of glory or someone simply looking to stay active and
        healthy, Shivansh Sports Hub is the place for you. Come and be a part of our journey as we continue to inspire,
        train, and shape the future of sports in Shivansh Sports Hub.
      </span>
    </p>
  </div>
</div>
<div class="whyUs">Why Us</div>
<div class="pngwing1"></div>
<div class="pngwing2"></div> -->
